@model IEnumerable<CustomerOrder>

<h2>CustomerOrders</h2>
<table>
    <thead>
    <tr>
        <th>Customer Id</th>
        <th>Order Id</th>
        <th>Details</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customerOrder in Model)
    {
        <tr>
            <td>@customerOrder.CustomerId</td>
            <td>@customerOrder.OrderId</td>
            <td>@customerOrder.OrderDetails</td>
            <td>@customerOrder.OrderDate</td>
            <td><a href="@Url.Action("Details", new { id = customerOrder.OrderId })">Details</a></td>
        </tr>
    }
    </tbody>
</table>